{% load static %}
{% load templatetags %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Princeton Club Talk</title>
    <link rel="icon" href="{% static 'images/tiger_logo.png' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'fontawesome/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/business-frontpage.css' %}" rel="stylesheet">

  </head>

    <body>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <center>
                <h5 class="modal-title" id="exampleModalLabel">Confused where to start?</h5>
              </center>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item"></li>
                <li class="list-group-item"><center><h4>Find a club</h4></center></li>
                <li class="list-group-item">Use the search bar below to find any of Princeton's 300+ clubs!</li>
                <li class="list-group-item"><center><h4>Not sure what you're looking for?<h4></h4></li>
                <li class="list-group-item">You can use the toolbar to scroll through a certain category, or search for certain keywords such as club category, features, or leadership.</li>
                <li class="list-group-item"><center><h4>Want a suggestion?</h4></center></li>
                <li class="list-group-item">Check out our Top 20 page to see Princeton's 20 highest-rated clubs.</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"><center>I'm good to go!</center></button>
            </div>
          </div>
        </div>
      </div>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
          <div class="container">
            <a class="navbar-brand" href="/"><i class="far fa-comments"></i> Princeton Club Talk <span class="badge badge-dark">Beta</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/clublist">All Clubs</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/myclubs">My Clubs</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/top20">Top 20</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Help!</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item active">
                  <a class="nav-link" href="/login/?next={{request.path}}">Login</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        
        <br>

          <div class="row">
            <div class="col-sm-12">
              <form action="/search/" method="get">
                <div class="input-group mb-3">
                  &nbsp;&nbsp;&nbsp;
                  <div class="input-group-prepend">
                    <select class="custom-select" id="type" name="type">
                        <option selected value="%">All clubs</option>
                      <option value="17">A Cappella</option>
                      <option value="5">Academic</option>
                      <option value="6">Career Opportunity</option>
                      <option value="9">Cultural</option>
                      <option value="14">Dance</option>
                      <option value="4">Educational</option>
                      <option value="10">Environmental</option>
                      <option value="11">Games</option>
                      <option value="2">Media</option>
                      <option value="15">Music</option>
                      <option value="13">Performing Arts</option>
                      <option value="8">Political</option>
                      <option value="1">Publication</option>
                      <option value="18">Religious</option>
                      <option value="7">Service</option>
                      <option value="12">Social</option>
                      <option value="3">Special Interest</option>
                      <option value="16">Theater</option>
                    </select>
                  </div>
                  <input type="text" name = "q" class="form-control" aria-label="Text input with dropdown button">
                      <div class="input-group-append">
                      <button class="btn btn-outline-dark" type="submit" value = search>Search</button>
                  </div>
                  &nbsp;&nbsp;&nbsp;
                </div>
              </form>
            </div>
          </div>
            {% block content %}
            {% endblock %}

            <!-- Footer -->
          <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Questions or concerns? Want your club to be added? Email princetonclubtalk@gmail.com</p>
            </div>
            <!-- /.container -->
          </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
          });
        </script>
    </body>
</html>