{% extends 'page/baseB.html' %}
{% load static %}
{% block content %}

	<br>
	<br>
	<div class="container">
	    <div class="row">
	    	<div class="col-sm-12">
			    <center>
			    	<h1><u>New Interview Comment!</u></h1>
			    </center>
			</div>
		</div>
		<br>
		<form method="POST" class="post-form">{% csrf_token %}
		<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron">
			    <center>
			    	<h2>Hi {{user.username}},</h2>
			    </center>
			    <br>	 
			   	<p>Thanks for writing about your interview for {{club.name}}! A couple of things to keep in mind: the goal of Princeton Club Talk is to help students make more informed choices about extracurricular clubs. We ask that you be honest in your review but also civil and constructive. This means no profanity and rude or hostile language. <b>Any reviews that violate this rule will be deleted, and repeat offenders can have their account suspended.</b> 
			   	<br>
			   	<br>
			   	In addition, please don't write about any interview rounds that are still going on. Doing so could give an unfair advantage to someone who hasn't reviewed yet.
			   	<br>
			   	<br>
			   	Happy reviewing!
			   	</p>
			   	<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="jumbotron">
					<p>Was your interview for {{club.name}} a positive or negative experience?</p>
					<center>{{form.positive}}</center>
					<br>
					<p>Was your interview for {{club.name}} easy or hard?</p>
					<center>{{form.hard}}</center>
				</div>

			<center><button type="submit" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;Submit me!&nbsp;&nbsp;&nbsp;</button></center>
			</div>
			<div class="col-sm-6">
				<div class="jumbotron">
					<p> Write about your interview experience below:</p>
					<center>{{form.text}}</center>
				</div>
			</div>
		</div>
		</form>
		<br>
	</div>

{% endblock %}