{% extends 'page/baseB.html' %}
{% load static %}
{% load templatetags %}
{% block content %}

    <br>
    <div class="container"> 
    <div class="top1">
        <div class="row">
          <div class="col-sm-6">
            <center>
              <h1><u>My Clubs</u></h1>
              {% if clubs %}
              {% else %}
              <p>You are not the leader of any clubs. If you want to have access to a club ask one of your leaders to include you as a leader. Feel free to explore other clubs on the site!</p>
              {% endif %}
            </center>
            <br>

            {% if count %}
            {% for club in clubs %} 
            <div class="jumbotron">
                <h2><a href="{% url 'post_detail' pk=club.pk %}">{{club.name}}</a>
                  {% if club.total_stars %}
                    &nbsp; &nbsp;{{club.total_stars|floatformat:"-1"}} <a data-toggle="tooltip" data-placement="top" title="Average ranking for {{club.name}}"><i class="fas fa-star"></a></i>  
                  {% endif %}
                  &nbsp;&nbsp;<a data-toggle="tooltip" data-placement="top" title="Edit your club's page!" href="{% url 'edit_page' pk=club.pk %}" class="btn btn-warning btn-md">
                    <i class="fas fa-plus-circle"></i>
                  </a>
                  <a data-toggle="tooltip" data-placement="top" title="See who is interested in your club!" href="{% url 'interest_page' pk=club.pk %}" class="btn btn-warning btn-md">
                    <i class="fas fa-users"></i>
                  </a>
                </h2>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'all_reviews' pk=club.pk %}">Reviews</a>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'all_interviews' pk=club.pk %}">Interviews</a>
                  </div>
                </div>
                
            </div>
            {% endfor %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
              {% else %}
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              {% endif %}
          <div class="col-sm-6">
              <h1><u><center>Clubs of Interest</center></u></h1>
              <br>
              {% for club in clubs_interested %}
                <div class="jumbotron">
                <h2><a href="{% url 'post_detail' pk=club.pk %}">{{club.name}}</a>
                  {% if club.total_stars %}
                    &nbsp; &nbsp;{{club.total_stars|floatformat:"-1"}} <a data-toggle="tooltip" data-placement="top" title="Average ranking for {{club.name}}"><i class="fas fa-star"></a></i>  
                  {% endif %}
                </h2>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'all_reviews' pk=club.pk %}">Reviews</a>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <a class="btn btn-primary btn-lg btn-block" href="{% url 'all_interviews' pk=club.pk %}">Interviews</a>
                  </div>
                </div>
                
            </div>


              {% endfor %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}

