{% extends 'page/baseB.html' %}
{% load static %}
{% load templatetags %}
{% block content %}

    <br>
    <div class="container">
    {% for club in clubs %}  

      <div class="body1">
        <div class="jumbotron">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="mt-4"><a href="{% url 'post_detail' pk=club.pk %}">{{club.name}}</a>
              {% if club.total_stars %}
                &nbsp; &nbsp;{{club.total_stars|floatformat:"-1"}} <a data-toggle="tooltip" data-placement="top" title="Average ranking for {{club.name}}"><i class="fas fa-star"></a></i>  
              {% endif %}
            </h2>
            <p>{{club.desc}}</p>
            <p>
            </p>
          </div>
          <div class="col-sm-4">
            <address>
              <br>
              <strong>Involved Students</strong>
              <i class="fas fa-user"></i>
              {% for leader in club.leaders.all %}
                <br>{{leader.title}}: <a href="{{leader.email|mail}}">{{leader.name}}</a>
              {% endfor %}
              <br>
              <br>
              {% if club.category.all %}
                <strong>Categories <a data-toggle="tooltip" data-placement="top" title="These are all the ODUS-listed club categories that {{club.name}} fell into."><i class="fas fa-align-justify"></i></a></strong>
                  <br>{{ club.category.all|join:", " }}<br>
              {% endif %}
            </address>
          </div>
        </div>
        </div>
      </div>


    {% endfor %}

    </div>

{% endblock %}

