{% extends 'page/baseB.html' %}
{% load static %}
{% load templatetags %}
{% block content %}

    <br>
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <form action="/search/" method="get">
            <div class="input-group mb-3">
              &nbsp;&nbsp;&nbsp;
              <div class="input-group-prepend">
                <select class="custom-select" id="type" name="type">
                    <option selected value="%">All clubs</option>
                  <option value="17">A Cappella</option>
                  <option value="5">Academic</option>
                  <option value="6">Career Opportunity</option>
                  <option value="9">Cultural</option>
                  <option value="14">Dance</option>
                  <option value="4">Educational</option>
                  <option value="10">Environmental</option>
                  <option value="11">Games</option>
                  <option value="2">Media</option>
                  <option value="15">Music</option>
                  <option value="13">Performing Arts</option>
                  <option value="8">Political</option>
                  <option value="1">Publication</option>
                  <option value="18">Religious</option>
                  <option value="7">Service</option>
                  <option value="12">Social</option>
                  <option value="3">Special Interest</option>
                  <option value="16">Theater</option>
                </select>
              </div>
              <input type="text" name = "q" class="form-control" aria-label="Text input with dropdown button">
                  <div class="input-group-append">
                  <button class="btn btn-outline-dark" type="submit" value = search>Search</button>
              </div>
              &nbsp;&nbsp;&nbsp;
            </div>
          </form>
        </div>
      </div>

    {% for club in clubs %}  

      <div class="body1">
        <div class="jumbotron">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="mt-4"><a href="{% url 'post_detail' pk=club.pk %}">{{club.name}}</a>
              {% if club.total_stars %}
                &nbsp; &nbsp;{{club.total_stars|floatformat:"-1"}} <a data-toggle="tooltip" data-placement="top" title="Average ranking for {{club.name}}"><i class="fas fa-star"></a></i>  
              {% endif %}
            </h2>
            <p>{{club.desc}}</p>
            <p>
              <a class="btn btn-primary btn-lg" href="{% url 'post_detail' pk=club.pk %}">Club Page</a>&nbsp;&nbsp;
              <a class="btn btn-primary btn-lg" href="{% url 'all_reviews' pk=club.pk %}">Reviews</a>&nbsp;&nbsp;
              <a class="btn btn-primary btn-lg" href="{% url 'all_reviews' pk=club.pk %}">Interviews</a>
            </p>
          </div>
          <div class="col-sm-4">
            <address>
              <br>
              <strong>Involved Students</strong>
              <i class="fas fa-user"></i>
              {% for leader in club.leader_set.all %}
                <br>{{leader.title}}: <a href="{{leader.email|mail}}">{{leader.name}}</a>
              {% endfor %}
              <br>
              <br>
              {% if club.category.all %}
                <strong>Categories <a data-toggle="tooltip" data-placement="top" title="These are all the ODUS-listed club categories that {{club.name}} fell into."><i class="fas fa-align-justify"></i></a></strong>
                  <br>{{ club.category.all|join:", " }}<br>
              {% endif %}
            </address>
          </div>
        </div>
        </div>
      </div>


    {% endfor %}

    </div>

{% endblock %}

