{% extends 'page/baseB.html' %}
{% load static %}
{% load templatetags %}
{% block content %}

    <!-- Header with Background Image 
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1>
          </div>
        </div>
      </div>
    </header>
    -->

    

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="20%">
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          </div>
        </div>
      </div>
      <div class="body1">
        <div class="jumbotron">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="mt-4">{{club.name}}

              {% if star_count %}
                &nbsp; &nbsp;{{star_count|floatformat:"-2"}} <a data-toggle="tooltip" data-placement="top" title="Average ranking for {{club.name}}"><i class="fas fa-star"></a></i>  
              {% endif %}
              {% if review_count %}
                {% if happy_result %}
                  &nbsp;&nbsp;<a data-toggle="tooltip" data-placement="top" title="A majority of reviews found {{club.name}} fun!"><i class="fas fa-smile"></i></a>
                {% else %}
                  &nbsp;&nbsp;<a data-toggle="tooltip" data-placement="top" title="A majority of reviews didn't find {{club.name}} fun."><i class="fas fa-frown"></i></a>
                {% endif %}
              {% endif %}
              {% if review_count %}
                {% if mean_result %}
                  &nbsp;&nbsp;<a data-toggle="tooltip" data-placement="top" title="A majority found {{club.name}} meaningful!"><i class="fas fa-eye"></i></a>
                {% else %}
                  &nbsp;&nbsp;<a data-toggle="tooltip" data-placement="top" title="A majority didn't find {{club.name}} meaningful."><i class="fas fa-eye-slash"></i></a>
                {% endif %}
              {% endif %}
            </h2>
            <p>{{club.desc}}</p>
            <p>
              <a class="btn btn-primary btn-lg" href="{% url 'all_reviews' pk=club.pk %}">Check out our reviews!</a>
            </p>
          </div>
          <div class="col-sm-4">
            <h2 class="mt-4">Club info</h2>
            <address>
              <strong>Leadership</strong>
              <i class="fas fa-user"></i>
              {% for leader in club.leaders.all %}
                <br>{{leader.title}}: <a href="{{leader.email|mail}}">{{leader.name}}</a>
              {% endfor %}
              <br>
              <br>
              {% if club.category.all %}
                <strong>Categories <a data-toggle="tooltip" data-placement="top" title="These are all the ODUS-listed club categories that {{club.name}} fell into."><i class="fas fa-align-justify"></i></a></strong>
                  <br>{{ club.category.all|join:", " }}<br>
              {% endif %}
              <br>
              <a href="{{club.email|mail}}" class="btn btn-primary">Contact us!</a>
              {% if club.website %}
                  <a class="btn btn-primary" href= {{ club.website }}>Website</a>
              {% endif %}
            </address>
          </div>
        </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-6 my-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <center>Reviews</center>
              </h4>
              <center>
              <form method="get">
                  <b>Sort Reviews By:</b> <br>
                  {% if time == 1 %}
                  <select id="sort" name="sort" onchange="this.form.submit()">
                      <option selected="selected" value="1">Review Date</option>
                      <option value="2">Review Rating</option>
                  </select>
                  {% else %}
                  <select id="sort" name="sort" onchange="this.form.submit()">
                      <option value="1">Review Date</option>
                      <option selected="selected" value="2">Review Rating</option>
                  </select>
                  {% endif %}
                  {% if reviews %}
                  {% else %}
                    <br><br>
                    <h5><center>{{club.name}} has no reviews. Add one below!</center></h5>
                  {% endif %}
              </form>
              </center>
            </div>
            <div class="card-footer">
              
                <!--All reviews go here -->
                {% for review in reviews %}
                <div class="card">

                  <div class="card-footer">

                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <center>
                            <button type="button" class="btn btn">
                              {{ review.stars }}<i class="fas fa-star"></i>  
                            </button>
                            <button type="button" class="btn btn">
                              {% if review.fun %}
                                <a data-toggle="tooltip" data-placement="top" title="The user found this club fun!"><i class="fas fa-smile"></i></a>
                              {% else %}
                                <a data-toggle="tooltip" data-placement="top" title="The user didn't find this club fun."><i class="fas fa-frown"></i></a>
                              {% endif %}
                            </button>
                            <button type="button" class="btn btn">
                              {% if review.meaningful %}
                                <a data-toggle="tooltip" data-placement="top" title="The user found this club meaningful!"><i class="fas fa-eye"></i></a>
                              {% else %}
                                <a data-toggle="tooltip" data-placement="top" title="The user didn't find this club meaningful."><i class="fas fa-eye-slash"></i></a>
                              {% endif %}
                            </button>
                          </center>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-body">
                    <center>{{ review.created_at }}</center>
                    <strong>Review</strong><br><br>
                    {{review.text}}<br><br>
                    <strong>Could be improved</strong><br>
                    {{review.CBI}}<br><br>
                    
                      <label class="btn btn-primary active">
                        <a href = "{% url 'review_increment' club.pk review.pk %}">
                          <i class="fas fa-arrow-alt-circle-up"></i>
                        </a>
                      </label>
                      <label class="btn btn-info active">
                        <a data-toggle="tooltip" data-placement="top" title="How many users found this review helpful.">{{review.rating}}</a>
                      </label>
                      <label class="btn btn-primary active">
                        <a href="{% url 'review_decrement' club.pk review.pk %}">
                          <i class="fas fa-arrow-alt-circle-down"></i>
                        </a>
                      </label>

                  </div>

                </div>
                <br>
                {% endfor %}

              <center>
                <a href="{% url 'post_new' pk=club.pk %}" class="btn btn-primary">Add a review!</a>
                &nbsp;
                <a href="{% url 'all_reviews' pk=club.pk %}" class="btn btn-primary">See all reviews</a>
              </center>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Interviews</h4>
              <address>
                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </address>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>

      <br>
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-12 my-12">
            <center><h2>Are you a leader of {{club.name}}? Edit your club's information <a href="#" class="btn btn-primary"><h3>here!</h3></a></h2></center>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <br>
      <br>
      <div class="row">
        <div class="col-sm-6 my-6">
          <div class="card">
            <img class="card-img-top-lower" src="{% static 'images/orange-background2.pn' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-6">
          <div class="card">
            <img class="card-img-top-lower" src="{% static 'images/orange-background2.pn' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <br>
      <br>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
      });
    </script>


{% endblock %}
