{% extends 'page/base.html' %}

{% block content %}
<style>
.content {
    max-width: 500px;
    margin: auto;
}
</style>
<body>
    <center>
    <br />
    <div class="intro">
	    <h1>Welcome to TigerTalk!</h1> 
	        <br />
	        <p>Scroll below for information on all of Princeton's clubs!</p>
	        <p>If you have any questions please contact tigertalk@princeton.edu</p>
    </div>
    <br /> 
    <br /> 
    <div class="enter">
	    <h2><a href="{% url 'post_list_full' %}" class="btn btn-warning btn-block">Click here to check out all Princeton clubs</a></h2>
	    <h2><a href="{% url 'post_list_full' %}">Click here to check out all Princeton clubs</a></h2>
	    <form action="/search/" method="get">
	        <input type="text" name="q">
	        <input type="submit" value="Search">
	    </form>
	</div>

	<div class="dropdown show">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter by Category
		</a>

		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="#">A Capella</a>
			<a class="dropdown-item" href="#">Academic</a>
			<a class="dropdown-item" href="#">Career Opportunity</a>
			<a class="dropdown-item" href="#">Cultural</a>
			<a class="dropdown-item" href="#">Dance</a>
			<a class="dropdown-item" href="#">Educational</a>
			<a class="dropdown-item" href="#">Environmental</a>
			<a class="dropdown-item" href="#">Games</a>
			<a class="dropdown-item" href="#">Media</a>
			<a class="dropdown-item" href="#">Music</a>
			<a class="dropdown-item" href="#">Performing Arts</a>
			<a class="dropdown-item" href="#">Political</a>
			<a class="dropdown-item" href="#">Publication</a>
			<a class="dropdown-item" href="#">Religious</a>
			<a class="dropdown-item" href="#">Service</a>
			<a class="dropdown-item" href="#">Academic</a>
			<a class="dropdown-item" href="#">Social</a>
			<a class="dropdown-item" href="#">Special Interest</a>
			<a class="dropdown-item" href="#">Theater</a>
		</div>
	</div>
	<br />
	<br />
	<h2><a href="{% url 'login' %}">Click here to login</a></h2>
</center>
</body>
{% endblock %}
                