{% extends 'page/base.html' %}
{% load templatetags %}

{% block content %}
    <div class="post">
        <center><h1>{{ club.name }}</h1>
        <p>{{ club.desc }}</p></center>
        <br />
        <body>
        	{% for leader in club.leaders.all %}
        		<p><b>{{leader.title}}:</b> <a href={{ leader.email|mail }}>{{ leader.name }}</a></p>
        	{% endfor %}
        	<p><b>Category:</b> 
        	{{ club.category.all|join:", " }}
        	</p>
         	<p><b>Contact:</b> <a href={{ club.email|mail }}>{{club.email}}</a></p>
        	{% if club.website %}
        		<p><b>Website:</b> <a href={{ club.website }}> {{ club.website }}</a></p>
        	{% endif %}
    	</body>	
    </div>
{% endblock %}