{% extends 'page/base.html' %}

{% block content %}
<body>
    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</body>
    <body>
    	<ul>               
            {% for club in clubs %}               
                <div class="post">
            		<h3><a href="{% url 'post_detail' pk=club.pk %}">{{ club.name }}</a></h3>
            		{{club.desc}}
        		</div>              
            {% endfor %}           
        </ul> 
</body>
{% endblock %}
                