{% extends 'page/base.html' %}
{% load templatetags %}

{% block content %}
<body>
    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</body>
    <div class="post">
        <center><h1>{{ club.name }}</h1>
        <p>{{ club.desc }}</p></center>
        <br />
        <h2># Reviews: {{review_count}}</h2>
        {% if review_count %}
        <h2>Fun count: {{fun_count}}/{{review_count}}</h2>
        {% endif %}
        {% if review_count %}
        <h2>Meaningful count: {{mean_count}}/{{review_count}}</h2>
        {% endif %}
        {% if review_count %}
        <h2>STARS: {{star_count}}/5</h2>
        {% endif %}
        <br />
        <body>
        	{% for leader in club.leaders.all %}
        		<p><b>{{leader.title}}:</b> <a href={{ leader.email|mail }}>{{ leader.name }}</a></p>
        	{% endfor %}
        	<p><b>Category:</b> 
        	{{ club.category.all|join:", " }}
        	</p>
         	<p><b>Contact:</b> <a href={{ club.email|mail }}>{{club.email}}</a></p>
        	{% if club.website %}
        		<p><b>Website:</b> <a href={{ club.website }}> {{ club.website }}</a></p>
        	{% endif %}
            <br />

            <h2>Reviews </h2>
            {% for review in club.reviews.all %}
            <div class="panel panel-default">
                <div class="panel-heading">Review</div>
                <div class="panel-body">
                    <p><b>Fun?</b> {{ review.fun }}</p>
                    <p><b>Meaningful?</b> {{ review.meaningful }}</p>
                    <p><b>Stars:</b> {{ review.stars }}</p>
                    <br />
                    <p><b>Review:</b> {{ review.text }}</p>
                    <p><b>Could be improved:</b> {{ review.CBI }}</p>
                    <br />
                    <p><b>Upvotes/downvotes:</b> {{ review.review }}</p>
                </div>
            </div>
            {% endfor %}

            <a href="{% url 'post_new' pk=club.pk %}"{{club.name}}>Submit a review here!</a>
    	</body>	
    </div>
{% endblock %}