{% load static %}
{% load templatetags %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Princeton Club Talk</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'fontawesome/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/business-frontpage.css' %}" rel="stylesheet">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"><i class="far fa-comments"></i> Princeton Club Talk <span class="badge badge-dark">Beta</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Clubs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Top 20</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">(Hi BWK!)</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header with Background Image 
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4">Business Name or Tagline</h1>
          </div>
        </div>
      </div>
    </header>
    -->

    

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          </div>
        </div>
        <div class="col-sm-4 my-4">
          <div class="card">
            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
          </div>
        </div>
      </div>
      <div class="body1">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="mt-4">{{club.name}}
              {% if star_count %}
                &nbsp; &nbsp;{{star_count|floatformat:"-2"}} <i class="fas fa-star"></i>  
              {% endif %}
              {% if review_count %}
                {% if happy_result %}
                  &nbsp;&nbsp;<i class="fas fa-smile"></i>
                {% else %}
                  &nbsp;&nbsp;<i class="fas fa-frown"></i>
                {% endif %}
              {% endif %}
            </h2>
            <p>{{club.desc}}</p>
            <p>
              <a class="btn btn-primary btn-lg" href="#">Check out our reviews!</a>
            </p>
          </div>
          <div class="col-sm-4">
            <h2 class="mt-4">Club info</h2>
            <address>
              <strong>Leadership</strong>
              <i class="fas fa-user"></i>
              {% for leader in club.leaders.all %}
                <br>{{leader.title}}: <a href="{{leader.email|mail}}">{{leader.name}}</a>
              {% endfor %}
              <br>
              <br>
              {% if club.category.all %}
                <strong>Categories <i class="fas fa-align-justify"></i></strong>
                  <br>{{ club.category.all|join:", " }}<br>
              {% endif %}
              <br>
              <a href="{{club.email|mail}}" class="btn btn-primary">Contact us!</a>
              {% if club.website %}
                  <a class="btn btn-primary" href= {{ club.website }}>Website</a>
              {% endif %}
            </address>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-sm-6 my-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><center>Reviews</center></h4>
              <form method="get">
                  <b>Sort Reviews By:</b> <br>
                  <select id="sort" name="sort" onchange="this.form.submit()">
                      <option hidden>Sort</option>
                      <option selected="selected" value="1">Review Date</option>
                      <option value="2">Review Rating</option>
                  </select>
              </form>
            </div>
            <div class="card-footer">
              
              <!--All reviews go here -->
              {% for review in reviews %}
              <div class="card">
                <div class="card-footer">
                  {{ review.stars }}<i class="fas fa-star"></i>  
                  {% if review.fun %}
                    <i class="fas fa-smile"></i>
                  {% else %}
                    <i class="fas fa-frown"></i>
                  {% endif %}
                  {% if review.meaningful %}
                    <i class="fas fa-eye"></i>
                  {% else %}
                    <i class="fas fa-eye-slash"></i>
                  {% endif %}
                  

                </div>
                <div class="card-body">
                  <strong>Review</strong><br><br>
                  {{review.text}}<br><br>
                  <strong>Could be improved</strong><br>
                  {{review.CBI}}<br><br>
                  
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                      <a href = "{% url 'review_increment' club.pk review.pk %}">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="fas fa-arrow-alt-circle-up"></i>
                      </a>
                    </label>
                    <label class="btn btn-info active">
                      {{review.rating}}
                    </label>
                    <label class="btn btn-primary active">
                      <a href="{% url 'review_decrement' club.pk review.pk %}">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="fas fa-arrow-alt-circle-down"></i>
                      </a>
                    </label>
                  </div>

                </div>
              </div>
              <br>
              {% endfor %}
              <a href="{% url 'post_new' pk=club.pk %}" class="btn btn-primary">Review {{club.name}}!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Interviews</h4>
              <address>
                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </address>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>

      <!-- /.row -->

      <br>
      <br>
      <div class="row">
        <div class="col-sm-6 my-6">
          <div class="card">
            <img class="card-img-top-lower" src="{% static 'images/orange-background2.pn' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 my-6">
          <div class="card">
            <img class="card-img-top-lower" src="{% static 'images/orange-background2.pn' %}" alt="">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <br>
      <br>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>


  </body>

</html>
