{% extends 'page/base.html' %}

{% block content %}

<style>
.content {
    max-width: 500px;
    margin: auto;
}
</style>

<body>
    <center>
    <br />
    <div class="intro">
	    <h1>Welcome to TigerTalk!</h1> 
	        <br />
	        <p>Scroll below for information on all of Princeton's clubs!</p>
	        <p>If you have any questions please contact tigertalk@princeton.edu</p>

    </div>
    <br /> 
    <br /> 
    <div class="enter">
	    <h2><a href="{% url 'post_list_full' %}" class="btn btn-warning btn-block">Click here to check out all Princeton clubs</a></h2>
	    <h2><a href="{% url 'post_list_full' %}">Click here to check out all Princeton clubs</a></h2>
	    <form action="/search/" method="get">
	        <input type="text" name="q">
	        <input type="submit" value="Search">
	    </form>
	</div>

	<div class="category">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
		<select class="selectpicker" data-style="btn-warning">
				<option>All Categories</option>
	  			<option>A Capella</option>
	 			<option>Academic</option>
	 			<option>Career Opportunity</option>
	 			<option>Cultural</option>
	 			<option>Dance</option>
	 			<option>Educational</option>
	 			<option>Environmental</option>
	 			<option>Games</option>
	 			<option>Media</option>
	 			<option>Music</option>
	 			<option>Performing Arts</option>
	 			<option>Political</option>
	 			<option>Publication</option>
	 			<option>Religious</option>
	 			<option>Service</option>
	 			<option>Academic</option>
	 			<option>Social</option>
	 			<option>Special Interest</option>
	 			<option>Theater</option>
			</select>
	</div>

	<div class="dropdown show">
		<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter by Category
		</a>

		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<a class="dropdown-item" href="#">A Capella</a>
			<a class="dropdown-item" href="#">Academic</a>
			<a class="dropdown-item" href="#">Career Opportunity</a>
			<a class="dropdown-item" href="#">Cultural</a>
			<a class="dropdown-item" href="#">Dance</a>
			<a class="dropdown-item" href="#">Educational</a>
			<a class="dropdown-item" href="#">Environmental</a>
			<a class="dropdown-item" href="#">Games</a>
			<a class="dropdown-item" href="#">Media</a>
			<a class="dropdown-item" href="#">Music</a>
			<a class="dropdown-item" href="#">Performing Arts</a>
			<a class="dropdown-item" href="#">Political</a>
			<a class="dropdown-item" href="#">Publication</a>
			<a class="dropdown-item" href="#">Religious</a>
			<a class="dropdown-item" href="#">Service</a>
			<a class="dropdown-item" href="#">Academic</a>
			<a class="dropdown-item" href="#">Social</a>
			<a class="dropdown-item" href="#">Special Interest</a>
			<a class="dropdown-item" href="#">Theater</a>
		</div>
	</div>
	<br />
	<br />
	<h2><a href="{% url 'login' %}">Click here to login</a></h2>
</center>

</body>
{% endblock %}
                