{% extends 'page/base.html' %}
{% load static %}
{% load templatetags %}
{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <br>
        <form action="/search/" method="get">
            <b>Filter Groups By Category:</b> <br>
            <select id="type" name="type">
                <option value="%">All</option>
                <option value="17">A Cappella</option>
                <option value="5">Academic</option>
                <option value="6">Career Opportunity</option>
                <option value="9">Cultural</option>
                <option value="14">Dance</option>
                <option value="4">Educational</option>
                <option value="10">Environmental</option>
                <option value="11">Games</option>
                <option value="2">Media</option>
                <option value="15">Music</option>
                <option value="13">Performing Arts</option>
                <option value="8">Political</option>
                <option value="1">Publication</option>
                <option value="18">Religious</option>
                <option value="7">Service</option>
                <option value="12">Social</option>
                <option value="3">Special Interest</option>
                <option value="16">Theater</option>
            </select>                        
            <input type="text" name="q">
            <input type="submit" value="Search">
        </form> 

    <div class="section categories">
        <div class="containerTop">
            <h1 class="section-heading"><u>{{club.name}}</u></h1>
        </div>
        <div class="containerMain">
            <p class="section-description">{{club.desc}}</p>
            <div class="row">
                <div class="one-half column category">
                    <img class="u-max-full-width" src="{% static 'images/example_pic1.jpg' %}">
                </div>
            
                <div class="one-half column category">
                    <img class="u-max-full-width" src="{% static 'images/example_pic2.jpg' %}">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="one-half column category">
                    <p>
                    {% for leader in club.leaders.all %}
                        <b>{{leader.title}}:</b> <a href="{{leader.email|mail}}">{{leader.name}}</a>
                        <br>
                    {% endfor %}
                    <b>Category:</b> {{ club.category.all|join:", " }}<br>
                    <b>Contact:</b> <a href="{{club.email|mail}}">{{club.email}}</a></p>
                </div>
                <div class="one-half column category">
                    <p><b># Reviews:</b> {{review_count}}<br>
                    {% if review_count %}
                        <b>Meaningful count:</b> {{mean_count}}/{{review_count}}<br>
                    {% endif %}
                    {% if review_count %}
                        <b>STARS:</b> {{star_count|floatformat:"2"}}/5</p>
                    {% endif %}
                </div>
            </div>            
        </div>
        <br>
        
        <br>
        <div class="container">
            <a class="button button-primary" href= {{ club.website }}>Have an opinion?</a>
            {% if club.website %}
            <a class="button button-primary" href= {{ club.website }}>Check out their website!</a>
            {% endif %}
            <a class="button button-primary" href= {{ club.website }}>Took an interview?</a>
            <br>
            <br>
        </div>
        <h3><a class="button button-primary" href="{% url 'post_new' pk=club.pk %}">Leave a review!</a></h3>
        
    </div>
    <div class="container">
        <section id="one" class="wrapper style1">
            <div class="row">
                <div class="twelve columns" style="margin-top: 0%">
                    <center>Hey this is txt.</center>
                </div>
            </div>
        </section>
        <body id="top">

        <!-- Header -->
        <header id="header" class="skel-layers-fixed">
            <h1><a href="/"><b>TigerTalk</b></a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'post_list_full' %}">All clubs</a></li>
                    <li><a href="right-sidebar.html">Top 20</a></li>
                    <li><a href="no-sidebar.html">About us!</a></li>
                    <li><a href="{% url 'login' %}" class="button special">Log in</a></li>
                </ul>
            </nav>
        </header>
        </body>
        <section id="one" class="wrapper style1">
                    {% for review in club.reviews.all %}
                    <div class="row">
                            <div class="six columns" style="margin-top: 0%">
                                    <center>
                                    <section class="special box">
                                        <i class="icon major">{{ review.stars }}</i>
                                        <i class="button1">Fun!</i>
                                        <i class="button2">fun!</i>
                                        <h6>Review:</h6>
                                        <p>{{ review.text }}</p>
                                        <h5>Could be improved:</h5>
                                        <p>{{ review.CBI }}</p>
                                    </section>
                                    </center>
                            </div>
                            <div class="six columns" style="margin-top: 0%">
                                
                                    <center>
                                    <section class="special box">
                                        <i class="icon major">{{ review.stars }}</i>
                                        <i class="button1">Fun!</i>
                                        <i class="button2">fun!</i>
                                        <h6>Review:</h6>
                                        <p>{{ review.text }}</p>
                                        <h5>Could be improved:</h5>
                                        <p>{{ review.CBI }}</p>
                                    </section>
                                    </center>
                            </div>
                    
                    </div>
                    {% endfor %}
        </section>
    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
{% endblock %}
